
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    {{ content }}

    </div><!-- /.container -->
    <footer>
    <ul>
        		<li><a href="mailto:shoemakah@gmail.com">e-mail</a></li>
        		<li><a href="https://github.com/wrshoemaker">GitHub</a></li>
						<li><a href="https://scholar.google.com/citations?user=92HwU5EAAAAJ&hl=en">Google Scholar</a></li>
						<li><a href="https://twitter.com/shoemakah" class="twitter-follow-button" data-show-count="false">Follow @shoemakah</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
							p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))
							{js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
						</script><li>

		</ul>
		</footer>
	</body>
</html>
